<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>System Info</title>

<style>
body{
    margin:0;
    font-family:Arial;
    background:#2c5364;
    padding:20px;
}

.card{
    background:white;
    max-width:400px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
}

img,video{
    width:100%;
    border-radius:10px;
    margin-top:10px;
}
</style>
</head>

<body>

<div id="infoList"></div>

<script>
fetch("/get_all_info")
.then(res=>res.json())
.then(data=>{
    let box = document.getElementById("infoList");
    box.innerHTML="";

    data.reverse().forEach(i=>{
        box.innerHTML += `
        <div class="card">
            <h3>🏫 ${i.title}</h3>
            <p>${i.content}</p>

            ${i.image ? `<img src="/static/info/${i.image}">` : ""}
            ${i.video ? `<video controls src="/static/info/${i.video}"></video>` : ""}
        </div>
        `;
    });
});
</script>

</body>
</html>